<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <select-lang (langueSelectionne)="changeLangFrom($event)"></select-lang>
      <textarea style="width: 100%" [(ngModel)]="text" name="langFrom" id="langFrom" rows="7"></textarea>
    </div>
    <div class="col-md-6 col-sm-12">
      <select-lang (langueSelectionne)="changeLangTo($event)"></select-lang>
      <textarea style="width: 100%" [(ngModel)]="textTraduit" disabled name="langTo" id="langTo" rows="7"></textarea>
    </div>

  </div>

  <div class="row">
    <div class="col-12">
      <button class="btn btn-info" (click)="traduire()">Traduire</button>
    </div>
  </div>

</div>
